asgiref==3.8.1
astroid==3.3.8
dill==0.3.9
Django==5.1.4
django-taggit==6.1.0
isort==5.13.2
jedi==0.19.2
Markdown==3.7
mccabe==0.7.0
parso==0.8.4
platformdirs==4.3.6
psycopg==3.2.3
pylint==3.3.3
python-decouple==3.8
sqlparse==0.5.3
tomlkit==0.13.2
typing_extensions==4.12.2
